$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";
// 
$clrBlue: #278bea;
$clrWhite: #fff;
$clrGold: #ffbc08;
$clrRed: #f44739;
$clrGreen: #008789;
$clrBlack: #000;
$clrMainGrey: #ececec;
$clrGreyLight: #ccc;
$clrGreyMedium: #797979;
$clrGreyDark: #444;
$colorFeatures: #f44739;
$bgFooterCard:#f9f9f9;
$bgFooter:#191919;
$bgHeaderVideo:#f4f4f4;
$paddingSection: 80px 0;
$gapGrid: 40px;
$gapFlex: 20px;
$boxGrid-3: 280px;
$boxGrid-4: 250px;